
{% load static %}
{% extends 'base.html' %}

{%load static %}

{% block title %}
    <title>
        {{ recipe_object.title }} -
        Scrumptious Recipes
      </title>
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
        </nav>
    </header>
    <main>
    <h1>{{ recipe_object.title }}</h1>
    <img src="{{ recipe_object.picture }}">
    <div>4.3 stars</div>
    

    <h2>Ingredients</h2>
    <p>{{ recipe_object.description }}</p>
    </main>
{% endblock %}

