{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> Scrumptious Recipes</title>
{% endblock title %}

{% block content %}
    <header>
        <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
        <a href="{% url 'create_recipe' %}">Create a recipe</a>

        {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'user_logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
        </nav>
    </header>
    <main>
        <h1 class="veg">Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    <p>{{ recipe.created_on|date:"M j Y" }}</p>
                </h3>
                <img src="{{ recipe.picture }}">
                <div>4.3 stars</div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
