body{
    margin: 0px;
    padding:0px;
}
main{
    padding: 16px;
}
header {
    background-color: orangered;
}

.main-p-color {
    color: white;
}

a:link {
    text-decoration: none
}
.four-by-one {
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 1px solid black;
    background-color: rgb(143, 190, 143);
}
img{
    height: 200px
}
nav{
    border-bottom: 1px solid black; 
    padding: 16px;
}

.veg {
    color: rgb(143, 190, 143);
}